---
layout: default
---
<article>
    <hgroup>
        <h1>{{ page.title }}</h1>
    </hgroup>
    <section>
        {{ content }}
    </section>
</article>
<div id="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="NitishNaineni/nitishnaineni.github.io"
        data-repo-id="R_kgDOLrPGvg"
        data-category="Announcements"
        data-category-id="DIC_kwDOLrPGvs4CevX5"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<script>
    document.querySelectorAll('.youtube-facade').forEach(function(div) {
        div.addEventListener('click', function() {
            var videoId = this.dataset.videoId;
            this.innerHTML = '<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;"><iframe src="https://www.youtube.com/embed/' + videoId + '?autoplay=1" frameborder="0" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>';
            this.classList.add('playing');
        });
    });
</script>