---
layout: default
---
<article>
    <hgroup>
        <h1>{{ page.title }}</h1>
    </hgroup>
    <section>
        {{ content }}
    </section>
</article>

<div id="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="NitishNaineni/nitishnaineni.github.io"
        data-repo-id="R_kgDOLrPGvg"
        data-category="Announcements"
        data-category-id="DIC_kwDOLrPGvs4CevX5"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>